@import "_reset";
@import "_settings";
@import "_variables";

.app {
  position: relative;

  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
  width: 100%;
  max-width: 1320px;
  padding: 20px;
  margin: 0 auto;
}
