.Sidebar {
  position: sticky;
  top: 0;
  height: 400px;
  padding: 25px;
  box-shadow: 6px 0 18px rgb(0 0 0 / 6%);
  border-radius: 8px;
  background: var(--white);
}

.sidebar_title {
  font-size: 28px;
  display: flex;
  align-items: center;
  height: 36px;
  margin-top: 0;
  margin-bottom: 32px;
  color: #6C757D;
  line-height: 36px;
}

.sidebar_navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar_navigation li {
  font-size: 16px;
  margin-bottom: 20px;
}

.sidebar_navigation li .bi {
  padding-right: 10px;
}

.sidebar_navigation a:hover {
  color: var(--primary-bg);
}

.link_unstyled,
.link_unstyled:link,
.link_unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}
